/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: gray;
}
a:hover{
    text-decoration: underline black;
}

h2{
    font-size: 60px;
}
button{
    background-color: white;
    padding: 25 30px 15 30px;
    border: 1px solid black;
}
button:hover{
    
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.container{  

    width: 1024px;  
}

.container-home {
    display:flex;
    justify-content: center;
}

@media (max-width: 500px){
    .logo{
        margin-bottom: 15px;
        }
}


.header-nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
       
}

@media (max-width: 500px){
    .header-nav{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px){
    .header-nav{
    display: flex;
    flex-wrap: wrap; 
    margin: 0 20px;   
    }
}

@media(max-width: 500px){

.header-nav a {
    display: flex;
    border-top: 1px solid gray;
    width: 100%;
    padding: 25px;
    justify-content: center;
    }
}

@media (max-width: 800px){
    .nav-image{

        display: flex;
        order: -6;
        justify-content: center;
        width: 100%;
        margin: 40px 0;
    }
}

@media(max-width:500px){
    .header-lower-img{
    display: none;
    }
}

@media(max-width:800px){
    .header-lower-img{
    display: none;
    }
}

.header-lower {

    display: flex;
    text-align: center;
    justify-content: space-evenly;
    height: 500px;
    align-items: center;
}

@media(max-width: 500px){
    .header-lower{
        padding: 10px;
        height: auto;
        border-top: 1px solid gray;
        }
}

@media(max-width: 800px){
    .header-lower{
        padding: 10px;
        height: auto;
        margin: 10 0 0 0;
        }
}


.header-lower .title{

    align-self: center;   
}

@media (max-width: 500px){
    .title{
        height: auto;
        margin: 20px 0;
        }
}

@media (max-width: 800px){
    .title{
        height: auto;
        margin: 20px 0;
        padding-top: 15px;
        }
}

.main-content .upper{
   
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    padding: 20px 0 20px 0;
    border-top: 1.5px solid black;
        
}

@media(max-width:500px){
    .upper{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 90%;
    margin-bottom: 10px;
    }
}

@media (max-width: 500px){
    .upper .text-content{

        margin-bottom: 30px;
    }

}

.main-content .lower{  

   display: flex;
   margin: 20px 10px;;  

   border-bottom: 1.5px solid black;  
}

@media(max-width:500px){
    .lower{
        display: flex;
        flex-direction: column;
        
        padding-bottom: 10px;
    }
}


.lower .text-content{

    padding: 10px;
}

.middle-img{

    width: 100%;
    height: auto;
    
}

.footer{
    padding: 20px;

    } 

.footer address{
    
    margin: 20px 0;
    
    
}
.footer .phone{
    margin: 20px 0;
}

.copyright{
    display: flex;
    justify-content: center;
}

@media(max-width:500px){
    .copyright{

    margin-top: 35px;
}





